
body{
    background-image: url(images/bacround.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;   
}
nav{
    margin-bottom: 100px;
}

.main{
    width: 60%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/friut1.jpeg);
    height: 500px;
    background-position: center;
    
}
.main1{
    width: 60%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/fruit2.jpeg);
    height: 500px;
    background-position: center;
    
}
.main2{
    width: 60%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/fruit4.jpeg);
    height: 500px;
    background-position: center;
    
}

#black{
    background-color: rgb(1, 1, 1, 0.7);
  
}



main{
    margin-top: 300px;
    margin-bottom: 100px;
}

@media screen and (max-width:820px) {
    main{
        font-size: 10px;
    }
}