body{
    background-image: url(images/bacround.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
nav{
    margin-bottom: 100px;
}

main{
    width: 60%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/salle.jpeg);
    height: 300px;
    background-position: center;
}
#black{
    background-color: rgb(1, 1, 1, 0.7);
  
}
.size{
    font-size: 9px;
}


footer{
    margin-top: 150px;
}

@media screen and (max-width:800px) {
    main{
        
        font-size: 10px;
    }
   
  
}

